.content {
  $root: &;
  position: relative;

  &__pageTitle {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__inner {
    background-color: $c-white;
    padding: 6.5rem;
    margin: 0 auto 10rem;
    box-shadow: 6px 6px 10px rgba($c-black, 0.12);
    border-radius: 20px;

    @include rwd('large-tablet') {
      padding: 4rem;
      margin: 0 auto 10rem;
    }

    @include rwd('small-tablet') {
      padding: 4rem 2rem;
      margin-bottom: 4rem;
      // border-radius: 0;
    }
  }
}