
.iconSocial {
    color: $c-white;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 50%;
    transition: transform $tr;
    position: relative;

    &--black {
      color: $c-black;
    }

    &:before {
      display: block;
      font-size: 37px;
      line-height: 37px;
      will-change: color;
      transition: opacity $tr, color $tr;

      @include rwd("tablet") {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &--hoverBlue {
      &:hover {
        &::before {
          color: $c-blue-1;
        }
      }
    }

    &:hover {
      &::before {
        opacity: 0.7;
      }
    }

    &--bigger {
      &:before {
        font-size: 8rem;
        line-height: 8rem;

        @include rwd("large-tablet") {
          font-size: 5rem;
          line-height: 5rem;
        }

        @include rwd("tablet") {
          font-size: 3.6rem;
          line-height: 3.6rem;
        }
      }
    }
  }
