.slider {
  $root: &;

  width: 100%;
  height: 84vh;
  overflow: hidden;
  position: relative;

  @include rwd('tablet') {
    height: 45vh;
  }

  &__slide {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.47) 0.1%, rgba(239,249,251,0.43) 90.1% );

    @include rwd('tablet') {
      background-size: contain;
    }

    // &::after {
    //   content: '';
    //   background-color: rgba($c-black, 0.8);
    //   background: linear-gradient(0deg, rgba(0,0,0,0.85) 30%, rgba(0,0,0,0.05) 100%);
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: none;

    //   @include rwd('large-tablet') {
    //     display: block;
    //   }
    // }
  }

  &__sliderInner {
    z-index: 20;
  }

  &__slideContent {
    @include flexSetup(column, flex-start, flex-start, nowrap);
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    transform: translateX(-40px);
    opacity: 0;
    z-index: 10;
    transition: opacity .45s, transform $tr-m;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }

    @include rwd('ultra') {
      padding: 50px 0 50px 100px;
    }

    @include rwd('large-tablet') {
      padding: 50px 0;
    }

    @include rwd('large-tablet') {
      position: absolute;
      bottom: 2rem;
      left: 10px;
      justify-content: center;
      max-width: 90%;
      transform: translateX(0);
      opacity: 1;
    }

    @include rwd('tablet') {
      justify-content: center;
    }
  }

  &__slideHeading {
    color: $c-blue-1;
    font-family: 'Open Sans';
    font-size: 20rem;
    line-height: 19rem;
    font-weight: 700;
    margin: 0 0 50px;
    max-width: 90rem;
    text-transform: uppercase;
    z-index: 4;

    @include rwd('laptop') {
      font-size: 14rem;
      line-height: 16rem;
    }

    @include rwd('large-tablet') {
      font-size: 12rem;
      line-height: 14rem;
      max-width: 90%;
      margin-bottom: 18px;
    }

    @include rwd('tablet') {
      font-size: 10rem;
      line-height: 12rem;
    }

    @include rwd('small-tablet') {
      font-size: 6rem;
      line-height: 7rem;
    }
  }

  &__slideText {
    color: $c-white;
    font-family: 'Open Sans';
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0 0 30px;
    max-width: 400px;
    text-align: left;

    @include rwd('large-tablet') {
      display: none;
    }
  }

  &__slideInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
  }

  &__button {
    margin-bottom: 15px;
    z-index: 4;

    @include rwd('tablet') {
      width: 200px;
      text-align: center;
    }

    @include rwd('phone') {
      margin: 0 auto;
      font-size: 18px;
    }
  }

  &__control {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translate(-50%, 0%);
    z-index: 10;
  }

  &__bullet {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: $c-yellow-1;
    border-radius: 50%;
    margin: 0 0.5rem;
    opacity: 1;

    @include rwd('large-tablet') {
      width: 15px;
      height: 15px;
    }

    &.swiper-pagination-bullet-active {
      background-color: $c-blue-1;
    }
  }

  &__slideVideoWrapper {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.47) 0.1%, rgba(239,249,251,0.43) 90.1% );
  }

  &__slideVideo {
    display: inline-block;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($c-black, 0.3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: rgba($c-white, 0.8);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      transition: transform $tr;
    }

    &:hover {
      #{$root}__play {
        border-left: 41px solid $c-blue-1;
      }
    }
  }

  &__play {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 24px;
    border-top-width: 24px;
    border-left: 41px solid $c-yellow-1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: border-left $tr;
  }

  // &__prev,
  // &__next {
  //   position: absolute;
  //   width: 40px;
  //   height: 40px;
  //   background-color: $c-white;
  //   z-index: 3;
  //   border-radius: 50%;

  //   @include flexSetup(column-reverse, center, center, nowrap);

  //   @include rwd('large-tablet') {
  //     display: none;
  //   }

  //   &::after {
  //     color: $c-black;
  //     margin-bottom: 6px;
  //     font-size: 1.5rem;
  //     // transform: rotate(90deg);
  //   }
  // }

  // &__prev {
  //   top: 0;
  // }

  // &__next {
  //   bottom: 0;
  // }
}