.wysiwyg {
  font-family: 'Open Sans';

  & h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $c-black;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  & h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  & h2, h3, h4, h5, h6 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .wp-block-group {
    margin: 3rem 0;
  }

  & p {
    color: $c-black;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
  }

  & a {
    color: $c-blue-1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 2px solid $c-blue-1;
    transition: opacity $tr;

    @include rwd('large-tablet') {
      display: inline;
    }

    &:hover {
      opacity: .8;
    }
  }

  & strong,
  & b {
    font-weight: 700;
  }

  & img {
    transition: opacity $tr;

    &:hover {
      opacity: .7;
    }
  }

  & ul, ol {
    list-style: none;
  }

  & ul li, ol li {
    position: relative;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
    padding-left: 20px;
    padding-right: 10px;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      background-color: $c-blue-1;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 8px;
    }
  }

  &--post {

    & h1, h2, h3, h4, h5, h6 {
      color: $c-blue-5;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    & b {
      font-weight: 700;
    }

    & p {
      padding: 15px 0;
      margin: 0;

      & img {
        height: auto;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        max-width: 100%;
      }
    }

    & blockquote {
      display: inline-block;
      margin: 35px 0;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 14px;
      background-color: $c-blue-12;

      & p {
        background-color: $c-blue-12;
        color: $c-blue-5;
        font-style: italic;
        padding: 10px 30px;
      }
    }
  }
}
