* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::selection {
    background-color: rgba($c-blue-1, 0.4);
  }
}

html {
  font-size: 10px;
  line-height: 1;
}

body {
  // background-color: $c-grey-1;
  background-color: #fbf8f7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageWrapper {
  position: relative;
  @include rwd("tablet") {
    padding-top: 8.2rem;
  }
}

// .sections {
//   overflow: hidden;
// }

a:focus {
  outline-width: thick;
  outline-color: $c-blue-5;
}

button:focus {
  text-decoration: underline;
}

.home,
.archive {
  & .sections {
    margin-top: 15rem;

    @include rwd("laptop") {
      margin-top: 8.2rem;
    }

    @include rwd('tablet') {
      margin-top: 0;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

