* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::selection {
    background-color: rgba($c-blue-1, 0.4);
  }
}

html {
  font-size: 10px;
  line-height: 1;
}

body {
  background-color: $c-grey-1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageWrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  @include rwd("tablet") {
    padding-top: 8.2rem;
  }
}

.sections {
  overflow: hidden;
}

a:focus {
  outline-width: thick;
  outline-color: $c-blue-5;
}

button:focus {
  text-decoration: underline;
}

.home .sections {
  margin-top: 15rem;
}