.button {
  $root: &;

  font: 500 16px/24px 'Open Sans';
  // border-radius: 20px;
  color: $c-black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  transition: border $tr, color $tr, opacity $tr;
  -webkit-transition: border $tr, color $tr, opacity $tr;
  -o-transition: border $tr, color $tr, opacity $tr;

  @include rwd("tablet") {
    padding: 18px 12px;
  }

  &--bgWhite {
    background-color: $c-white;
    text-align: left;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  &--border {
    border: 2px solid $c-black;

    &:hover {
      border: 2px solid $c-blue-1;
      color: $c-blue-1;
    }
  }

  &--borderBottom {
    border-bottom: 2px solid $c-black;

    &:hover {
      border-bottom: 2px solid $c-blue-1;
      color: $c-blue-1;
    }
  }

  &--arrow,
  &--arrowWhite {
    position: relative;
    padding: 5px 30px 5px 10px;

    @include rwd("tablet") {
      padding-right: 50px;
    }

    &::before {
      position: absolute;
      right: 1rem;
      font-size: 2rem;
      @include icomoon('arrow-long');
    }

  }

  &--arrowWhite {
    &::before {
      color: $c-white;
    }
  }
}
