.plus {

  &--big,
  &--small {
    position: absolute;
    display: inline-block;
    background-color: $c-blue-1;
    transition: transform $tr;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 50%;
      background-color: $c-blue-1;
      transform: translate(50%, -50%);
    }
  }

  &--big {
    width: 32px;
    height: 7px;
    right: 80px;
    top: 57%;
    z-index: 10;

    @include rwd('laptop') {
      right: 0;
    }

    &::after {
      width: 7px;
      height: 32px;
    }
  }

  &--small {
    width: 22px;
    height: 5px;
    left: 18px;
    top: 20%;
    z-index: 10;

    @include rwd('tablet') {
      top: 10%;
    }

    &::after {
      width: 5px;
      height: 22px;
    }
  }
}