.boxesContent {
  $root: &;
  @include rwd("large-laptop") {
    margin: 4rem 0;
  }

  &__container {
    display: grid;
    grid-gap: 3rem;

    @include rwd("large-laptop", true) {
      grid-gap: 9.4rem;
      padding: 5rem 0 15rem 0;
    }

    @include rwd("tablet", true) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__box {
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba($c-black, 0.15);
    background-color: $c-white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 75rem;
    padding: 9rem 7rem 7.4rem 7rem;

    @include rwd("large-tablet") {
      min-height: auto;
      padding: 4rem 3rem 3.4rem 3rem;
    }

    @include rwd("tablet") {
      text-align: center;
      box-shadow: 0 6px 10px rgba($c-black, 0.25);
    }

    @include rwd("small-tablet") {
      padding: 3rem 2rem;
    }

    &--col12 {
      align-items: flex-start;
      min-height: 47.6rem;

      @include rwd("tablet", true) {
        grid-column: span 2 / auto;
      }

      @include rwd("tablet") {
        align-items: center;
      }

      #{$root}__content {
        max-width: 70%;

        @include rwd("large-tablet") {
          max-width: 100%;
        }
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    margin: 6.2rem 0 4rem 0;

    @include rwd("tablet") {
      margin: 3.2rem 0 2rem 0;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
    width: 100%;
    @include rwd("large-tablet", true) {
      display: inline-block;
      position: absolute;
      right: 4rem;
      top: 5rem;
      width: auto;
    }
  }

  &__image {
    border: 10px solid $c-blue-1;
    box-shadow: 0 0 0px 10px rgba($c-blue-1, 0.4);
    border-radius: 50%;
    overflow: hidden;
    width: 210px;
    height: 210px;
    opacity: 0;

    @include rwd("tablet") {
      width: 180px;
      height: 180px;
    }

    & img {
      margin-left: -6rem;
      transition: transform $tr;
      height: 100%;
    }

    &:first-of-type {
      margin-right: 4rem;
      width: 180px;
      height: 180px;

      @include rwd("large-tablet", true) {
        margin-left: -4rem;
        margin-bottom: 2rem;
      }

      @include rwd("tablet") {
        width: 160px;
        height: 160px;
      }

      @include rwd("large-phone") {
        display: none;
      }
    }

    &:hover {
      & img {
        transform: scale(1.1);
      }
    }
  }

  &__content {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  &__iconWrapper {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;

    &:hover {
      #{$root}__icon {
        transform: scale(1.2);
      }

      #{$root}__iconAfterEl {
        transform: translate(-50%, -50%) scale(0.9);
      }
    }
  }

  &__icon {
    transition: transform $tr-m;

    @include rwd("tablet") {
      max-width: 150px;
    }
  }

  &__iconAfterEl {
    display: inline-block;
    width: 18.8rem;
    height: 18.8rem;
    background-color: $c-blue-1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: transform $tr-m;

    @include rwd("tablet") {
      width: 12.8rem;
      height: 12.8rem;
    }
  }

  &__button {
    margin-top: 6.8rem;

    @include rwd("tablet") {
      margin-top: 3.8rem;
    }
  }
}

