.columnsIconText {
  display: flex;
  padding: 35px 0;

  @include rwd('tablet') {
    flex-direction: column;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 15px;

    @include rwd('large-tablet') {
      margin-bottom: 47px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__iconText {
    color: $c-black;
    font: 500 23px/24px JostMedium;
    margin-top: 25px;
    max-width: 85%;
    min-height: 50px;
    text-align: center;

    @include rwd('large-tablet') {
      min-height: none;
    }
  }
}
