.imageGroupText {
  $root: &;

  &__wrapper {
    margin-top: 45px;
    margin-bottom: 45px;
    overflow: hidden;

    @include rwd('large-tablet') {
      overflow: hidden;
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  &__heading {
    margin: 14px 0 28px;

    &--small {
      display: block;
      padding-bottom: 6px;
    }

    &--social {
      font: 500 18px/26px JostMedium;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 28px 0 14px;
    }
  }

  &__images {
    position: relative;

    &:hover .plus--big {
      transform: rotate(10deg) scale(1.2);
    }

    &:hover .plus--small {
      transform: rotate(-10deg) scale(1.2);
    }
  }

  &__image {

    &--big {
      max-width: 100%;
      height: auto;
      transform: scale(1);
      padding-bottom: 37px;

      @include rwd('large-tablet', true) {
        max-width: 758px;
        margin-top: 20px;
        margin-left: -120px;
        padding-bottom: 18px;
      }

      @include rwd('ultra', true) {
        margin-left: -150px
      }
    }
  }

  &__socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__social {
    margin-bottom: 20px;

    @include rwd('large-tablet') {
      width: 100%;
    }
  }
}
