.imageBoxes { $root: &;
  padding: 60px 0;

  &__title {
    font: 400 30px/40px JostBook;
    text-align: center;
  }

  &__boxesWrapper {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 45px;
  }

  &__box {
    margin-top: 25px;
  }

  &__boxInner {
    border: 1px solid $c-blue-8;
    padding: 20px 30px;

    &:hover {

      & #{$root}__boxImage {
        transform: scale(0.9);
      }
    }
  }

  &__boxImage {
    display: block;
    margin: auto;
    max-width: 100%;
    transition: transform $tr;
  }
}
