.imagePins {
  $root: &;

  &__wrapper {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__heading {
    text-align: center;

    &--small {
      display: block;
      padding-bottom: 4px;
    }
  }

  &__container {
    text-align: center;
    margin-top: 40px;

    @include rwd('large-tablet') {
      margin-top: 60px;
      padding-bottom: 40px;
    }
  }

  &__image {
    position: relative;
    display: inline-block;
    z-index: 10;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 812px;
      min-height: 812px;
      border: 1px solid $c-grey-5;
      border-radius: 50%;
      background-color: transparent;
      z-index: -1;

      @include rwd('small-tablet') {
        min-width: 480px;
        min-height: 480px;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 642px;
      min-height: 642px;
      border-radius: 50%;
      border: 143px solid $c-orange-3;
      z-index: -1;

      @include rwd('small-tablet') {
        min-width: 380px;
        min-height: 380px;
        border: 108px solid $c-orange-3;
      }
    }
  }

  &__imageElement {
    z-index: -1;

    @include rwd('large-tablet') {
      max-width: 100%;
      height: auto;
    }
  }

  &__pin {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: $c-white;
    cursor: pointer;
    pointer-events: all;
    transition: background-color $tr;
    z-index: 10;
    overflow: visible;

    @include rwd('large-phone') {
      width: 20px;
      height: 20px;
      padding: 0;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      padding: 30px;
      position: absolute;
      top: 50%;
      bottom: auto;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
    }

    &--outer,
    &--inner {
      animation-duration: 1s;
      animation-name: pulse;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-play-state: running;
      display: inline-block;
      position: absolute;
      top: 50%;
      bottom: auto;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      cursor: pointer;
      pointer-events: none;
      transition: background-color $tr;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        animation-duration: 0;
      }
    }

    @include rwd('laptop', true) {
      &:hover {
        background-color: $c-orange-2;

        & #{$root}__pin--inner {
          background-color: $c-white;
        }

        & + #{$root}__pinWrapper {
          opacity: 1;
          visibility: visible;
          max-height: 1000px;

          @include rwd('large-tablet') {
            padding: 0;
            margin: 0;
          }

          & #{$root}__pinContent {
            display: inline-block;

            @include rwd('large-tablet') {
              width: 100%;
              max-width: 322px;
            }

            @include rwd('small-tablet') {
              min-width: 100%;
              width: 100%;
              max-width: 322px;
            }
          }
        }
      }
    }

    &--outer {
      padding: 21px;
      background: rgba(255, 255, 255, 0.4);

      @include rwd('large-phone') {
        padding: 14px;
      }
    }

    &--inner {
      width: 14px;
      height: 14px;
      background-color: $c-orange-2;

      @include rwd('large-phone') {
        width: 10px;
        height: 10px;
      }
    }

    &[data-body-part='neck'] {
      top: 12%;
      left: 54%;

      & + #{$root}__pinWrapper {
        top: 12%;
        left: 54%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
          top: 17%;
        }
      }
    }

    &[data-body-part='shoulder'] {
      top: 18%;
      left: 64%;

      & + #{$root}__pinWrapper {
        top: 18%;
        left: 64%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='chest'] {
      top: 22%;
      left: 55%;

      & + #{$root}__pinWrapper {
        top: 22%;
        left: 54%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='elbow'] {
      top: 27%;
      left: 30%;

      & + #{$root}__pinWrapper {
        top: 27%;
        left: 30%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='wrist'] {
      top: 44%;
      left: 77%;

      & + #{$root}__pinWrapper {
        top: 44%;
        left: 77%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='hip'] {
      top: 44%;
      left: 55%;

      & + #{$root}__pinWrapper {
        top: 44%;
        left: 55%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='lumbar'] {
      top: 38%;
      left: 64%;

      & + #{$root}__pinWrapper {
        top: 38%;
        left: 64%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='knee'] {
      top: 48%;
      left: 18%;

      & + #{$root}__pinWrapper {
        top: 48%;
        left: 18%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='other'] {
      top: 30%;
      left: 50%;

      & + #{$root}__pinWrapper {
        top: 30%;
        left: 50%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
        }
      }
    }

    &[data-body-part='ankle'] {
      top: 90%;
      left: 58%;

      & + #{$root}__pinWrapper {
        top: 55%;
        left: 58%;

        @include rwd('large-tablet') {
          left: 0;
          right: 0;
          // top: 90%;
        }

        @include rwd('large-tablet') {
          top: 63%;
        }

        @include rwd('phone') {
          top: 47%;
        }
      }

      #{$root}__pinWrapper {
        margin-left: -400px;
        padding-left: 0;
        margin-top: -200px;
      }

      #{$root}__pinContent {
        &::before {
          top: auto;
          right: -21px;
          bottom: 15px;
          left: auto;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__pinWrapper {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity $tr;
    padding-left: 53px;
    margin-top: -12px;
    pointer-events: none;
    z-index: 30;

    &--active {
      opacity: 1;
      visibility: visible;
      max-height: 1000px;

      @include rwd('large-tablet') {
        padding: 0;
        margin: 0;
      }

      & #{$root}__pinContent {
        display: inline-block;

        @include rwd('large-tablet') {
          width: 100%;
          max-width: 322px;
        }

        @include rwd('small-tablet') {
          min-width: 100%;
          width: 100%;
          max-width: 322px;
        }
      }
    }
  }

  &__pinContent {
    position: relative;
    display: none;
    padding: 10px 17px;
    background-color: $c-white;
    box-shadow: 1px 2px 16px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-width: 322px;
    z-index: 20;

    &::before {
      content: '';
      position: absolute;
      left: -21px;
      top: 15px;
      border-right: solid 22px #ffffff;
      border-bottom: solid 14px transparent;
      border-top: solid 14px transparent;

      @include rwd('large-tablet') {
        display: none;
      }
    }

    &--bottom {
      &::before {
        content: '';
        position: absolute;
        top: auto;
        left: -21px;
        bottom: 15px;
        border-right: solid 22px #ffffff;
        border-bottom: solid 14px transparent;
        border-top: solid 14px transparent;
      }
    }
  }
}
