.listOfThree {
  $root: &;

  &__inner {
    margin-bottom: 45px;
    margin-top: 45px;
  }

  &__heading {
    text-align: center;

    &--small {
      display: block;
      padding-bottom: 4px;
    }
  }

  &__elements {
    margin-top: 35px;
  }

  &__element {
    text-align: center;

    & img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &__elementHeading {
    color: $c-dark-2;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12px;
    padding-bottom: 4px;
  }

  &__elementContent {
    text-align: center;
    margin-top: -20px;
  }
}