.offerBanner {
  display: flex;
  margin-top: 40px;
  min-height: 390px;
  position: relative;

  &::before {
    content: '';
    background-color: rgba($c-white, .5);
    z-index: 1;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }

  @include rwd('small-tablet') {
    min-height: unset;
  }

  &__background {
    position: absolute;
    height: 100%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;

    @include rwd('small-tablet') {
      height: auto;
      margin: 0 -15px;
      max-height: unset;
      min-height: 100px;
      max-width: unset;
      position: static;
      width: 100vw;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include rwd('small-tablet') {
      height: auto;
    }
  }

  &__title {
    align-self: flex-end;
    font: 500 56px/62px JostMedium;
    margin-bottom: 30px;
    max-width: 635px;

    @include rwd('tablet') {
      font: 500 36px/38px JostMedium;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }

  &__nav {
    align-self: flex-start;
    background-color: $c-white;
    border: 1px solid $c-grey-2;
    max-width: 255px;
    padding: 18px 16px 24px;
    transform: translateY(-30px);
    width: 100%;

    @include rwd('tablet') {
      display: none;
    }
  }

  &__navElement {
    cursor: pointer;
    font: 500 19px/26px JostMedium;
    margin-bottom: 5px;
    padding-left: 21px;
    position: relative;
    text-transform: uppercase;
    transition: color .3s;

    &::before {
      border-bottom: 5px solid transparent;
      border-left: 11px solid $c-blue-1;
      border-top: 5px solid transparent;
      content: '';
      left: 0;
      opacity: .21;
      position: absolute;
      top: 7px;
      transition: opacity .3s;
    }

    &:hover,
    &--active {
      color: $c-blue-1;

      &::before {
        opacity: 1;
      }
    }
  }
}
