.pricing {
  $root: &;

  &__inner {
    margin-top: 56px;
    margin-bottom: 56px;

    @include rwd('tablet') {
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }

  &__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 500 19px/29px JostMedium;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 400 18px/24px Lato;
    border-bottom: 1px solid $c-grey-6;
    border-left: 1px solid $c-grey-6;
    border-right: 1px solid $c-grey-6;

    &:first-of-type {
      border-top: 1px solid $c-blue-1;
    }

    &--blue {
      background-color: $c-blue-10;
      border-left: 1px solid $c-blue-1;
      border-right: 1px solid $c-blue-1;
      border-bottom: 1px solid $c-blue-1;
    }

    &--blue #{$root}__elementTitle {
      border-right: 1px solid $c-blue-1;
    }
  }

  &__elementTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-right: 1px solid $c-grey-6;

    @include rwd('large-phone') {
      padding: 15px;
    }
  }

  &__elementInfo {
    font: 400 14px/24px Lato;
    color: $c-grey-7;

    &--blue {
      color: $c-blue-8;
    }

    & strong {
      font-weight: 700;
    }
  }

  &__elementPrice {
    font-weight: 700;
    padding: 20px;
    width: 160px;
    text-align: right;

    @include rwd('large-phone') {
      padding: 15px;
    }
  }
}