.slider {
  $root: &;

  width: 100%;
  height: 540px;
  overflow: hidden;

  &__wrapper {

    @include rwd('large-tablet') {
      padding-top: 78px;
    }
  }

  &__slide {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    @include rwd('small-tablet') {
      background: rgb(234,244,248);
      background: radial-gradient(circle, rgba(234,244,248,1) 0%, rgba(198,231,251,1) 50%, rgba(159,216,254,1) 100%);
    }

    &Inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
    }


    &Img {
      display: block;
      width: 100%;
    }

    &ImgElem {
      max-width: 100%;
      height: auto;
      max-height: 535px;
      margin-bottom: -10px;
      margin-left: 90px;

      &--big {
        max-height: 690px;
        margin-bottom: 0;
        margin-top: 180px;
      }

      @include rwd('large-tablet') {
        display: block;
        margin-left: auto;
        margin-right: 50px;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 420px;
        max-height: 420px;
      }

      @include rwd('tablet') {
        margin: 0 auto;
      }

      @include rwd('phone') {
        margin: 0 auto 150px auto;
        max-height: 320px;
      }
    }

    &Content {
      box-sizing: border-box;
      position: relative;
      height: 100%;
      width: 100%;
      max-height: 540px;
      max-width: 442px;
      padding: 50px 0;
      transform: translateX(-40px);
      opacity: 0;
      transition: opacity .45s, transform $tr-m;

      &--active {
        opacity: 1;
        transform: translateX(0);
      }

      @include flexSetup(column, center, flex-start, nowrap);

      @include rwd('large-tablet') {
        position: absolute;
        bottom: 50px;
        left: 10px;
        justify-content: center;
        max-width: 90%;
        max-height: 445px;
        margin-top: -30px;
        transform: translateX(0);
        opacity: 1;

        &::after {
          content: '';
          display: inline-block;
          min-width: 1000px;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: -20%;
        }


        &[data-gradient="blue"] {

          &::after {
            background: linear-gradient(180deg, rgba(198, 231, 251, 0) 25%, rgba(198, 231, 251, 1) 60%, #9fd8fe 100%);
          }
        }

        &[data-gradient="black"] {

          &::after {
            background: linear-gradient(180deg, rgba(198, 231, 251, 0) 25%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);

            @include rwd('phone', true) {
              background: linear-gradient(180deg, rgba(198, 231, 251, 0) 25%, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, 1) 100%);
            }
          }

          & #{$root}__slideHeading {
            color: $c-white;
            text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
          }
        }

        &[data-gradient="none"] {

          &::after {
            display: none;
          }
        }
      }

      @include rwd('tablet') {
        justify-content: flex-end;
      }
    }

    &Heading {
      font: 500 48px/50px JostMedium;
      margin: 0 0 10px;
      z-index: 4;

      @include rwd('large-tablet') {
        max-width: 70%;
        margin-bottom: 40px;
      }

      @include rwd('tablet') {
        font: 500 26px/31px JostMedium;
        max-width: 90%;
        margin-bottom: 18px;
      }
    }

    &Text {
      font: 400 18px/24px Lato;
      margin: 0 0 30px;
      max-width: 400px;
      text-align: left;

      @include rwd('large-tablet') {
        display: none;
      }
    }

  }

  &__button {
    margin-bottom: 15px;
    z-index: 4;

    @include rwd('phone') {
      width: 300px;
      font-size: 14px;
    }
  }

  &__control {
    width: 100px;
    height: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 115px;
    left: auto;
    z-index: 4;

    @include flexSetup(column, flex-end, center, nowrap);

    @include rwd('large-tablet') {
      left: 50%;
      right: 50%;
    }

     &::before,
     &::after {
      content: '';
      width: 8px;
      height: 58%;
      position: absolute;
      top: 0;
      right: 10px;
      left: auto;
      background-color: rgba(228,234,240, 0.5);
      z-index: 2;

      @include rwd('large-tablet') {
        display: none;
      }
    }

    &::after {
      content: '';
      height: 4%;
      top: auto;
      bottom: -2%;

      @include rwd('large-tablet') {
        display: none;
      }
    }
  }

  &__pagination {
    max-width: 50px;
    right: -15px;
    left: auto;
    bottom: 35px;
    z-index: 3;

    @include flexSetup(column, center, flex-end, nowrap);

    @include rwd('large-tablet') {
      bottom: 12px;
      left: -50%;
      right: 50%;
      transform: translate(50%, 0);
      flex-direction: row;
    }

  }

  &__bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $c-white;
    border-radius: 0;
    margin-right: 3px;
    margin-left: 3px;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $c-blue-8;
    }
  }

  &__fraction--current,
  &__fraction--total {

    &::before {
      content: '0';
    }

    @include rwd('large-tablet') {
      display: none;
    }
  }

  &__fraction--current {
    display: inline-block;
    text-align: right;
    color: $c-black;
    font: 500 61px/59px JostMedium;
    letter-spacing: -2.44px;
    margin: 0 0 20px;
  }

  &__fraction--total,
  &__fractionSlash {
    font: 500 26px/12px JostMedium;
    letter-spacing: 0.52px;
    color: rgba(0,0,0,.35);
  }

  &__prev,
  &__next {
    width: 60px;
    height: 60px;
    background-color: $c-white;
    z-index: 3;

    @include flexSetup(column-reverse, center, center, nowrap);

    @include rwd('large-tablet') {
      display: none;
    }

    &::after {
      margin-bottom: 6px;
    }
  }

  &__next {
    font: 500 8px/12px JostMedium;
    letter-spacing: 0.16px;
    color: $c-black;
    text-transform: uppercase;
    right: -15px;
    top: 65%;
    transition: color $tr;

    &:hover {
      color: $c-blue-1;
    }

    &::after {
      content: url('/wp-content/themes/fis/static/src/img/arrow-blue.svg');
    }
  }
}