.textSectionTitle {

  &__inner {
    padding: 45px 0;

    @include rwd('tablet') {
      padding: 20px 0 10px;
    }
  }

  &__titleWrapper {
    margin-bottom: 25px;
  }

  &__title {
    font: 500 36px/44px JostMedium;

    @include rwd('small-tablet') {
      font: 500 26px/30px JostMedium;
    }
  }

  &__subtitle {
    font: 500 16px/19px Lato;
    letter-spacing: 2.4px;
    margin-top: 11px;
    text-transform: uppercase;
  }

  &__text {
    font: 400 18px/24px Lato;

    p {
      margin-bottom: 25px;
    }
  }
}
