.tileCard {
  $root: &;

  &__inner {
    margin-top: 50px;
    margin-bottom: 64px;
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include rwd('large-tablet') {
      flex-direction: column;
    }
  }

  &__card {
    flex: 0 0 33.33%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 504px;
    background-color: $c-pink-5;
    border: 1px solid $c-pink-2;
    padding: 62px 0 32px 0;
    cursor: pointer;
    z-index: 0;
    transition: transform $tr-m;

    @include rwd('large-tablet') {
      flex: 0 0 50%;
      width: 100%;
      margin-bottom: 30px;
    }

    @include rwd('small-tablet') {
      flex: 0 0 100%;
    }

    // Different styling for second tile

    &:nth-of-type(2) {
      background-color: $c-blue-10;
      border: 1px solid $c-blue-1;

      & #{$root}__cardIcon {

        &::after {
          background-color: $c-blue-11;
        }
      }

      & #{$root}__cardInfo {
        color: $c-blue-8;
      }

      & #{$root}__cardButton {
        background-color: $c-blue-1;
      }
    }

    &:nth-of-type(odd):hover {

      & #{$root}__cardIcon {

        &::after {
          transform: translate(-70%, -60%) scale(.8);
        }
      }

      & #{$root}__cardIconElement {
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }

    &:nth-of-type(even):hover {

      & #{$root}__cardIcon {

        &::after {
          transform: translate(-30%, -60%) scale(.8);
        }
      }

      & #{$root}__cardIconElement {
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }
  }

  &__cardIcon {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: transform $tr-m;

    &::after {
      content: '';
      display: inline-block;
      width: 150px;
      height: 150px;
      background-color: $c-pink-3;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: transform $tr-m;
    }
  }

  &__cardIconElement {
    transition: transform $tr-m;
  }

  &__cardTitle {
    font: 500 26px/26px JostMedium;
    text-transform: uppercase;
    max-width: 242px;
    text-align: center;
  }

  &__cardInfo {
    font: 400 16px/19px Lato;
    color: $c-orange-1;
    text-transform: uppercase;
    text-align: center;
    max-width: 184px;
  }

  &__cardPrice {
    font: 500 52px/49px JostMedium;
  }

  &__cardButton {
    background-color: $c-orange-1;
  }
}