$c-black: #000000;
$c-white: #ffffff;

$c-blue-1: #4abae9;
$c-blue-2: #23A2D8;
$c-blue-3: #C9E7EF;
$c-blue-4: #3E5B7E;
$c-blue-5: #2B4B72;
$c-blue-6: #DBEFF4;
$c-blue-7: #EAF2FC;
$c-blue-8: #54769D;
$c-blue-9: #DEF1FE;
$c-blue-10: #DFF1FF;
$c-blue-11: #CEE8FC;
$c-blue-12: #73C8EB;
$c-blue-13: #1998ce;
// $c-blue-12: #F2F8FA;

$c-green:  #63CE1D;

$c-dark-1: #3E3E3E;
$c-dark-2: #202020;
$c-dark-3: #1E1E1E;

$c-grey-1: #F1F2F2;
$c-grey-2: #D3DCE6;
$c-grey-3: #F8F8F8;
$c-grey-4: #464646;
$c-grey-5: #F0F0F0;
$c-grey-6: #D9D9D9;
$c-grey-7: #989898;
$c-grey-8: #878787;
$c-grey-9: #D1D1D1;

$c-yellow-1: #ffd629;

$c-red: #F7555A;
