.footer {
  $root: &;

  &__inner {
    background-color: $c-black;
    padding: 11rem 0 10rem;
    overflow: hidden;

    @include rwd('large-tablet') {
      padding: 5rem 0;
    }
  }

  &__content {
    @include flexSetup(row, center, center, nowrap);

    @include rwd('phone') {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: $c-white;
    text-align: center;
  }


  &__logo {
    margin-right: 2rem;

    @include rwd('large-phone') {
      margin-right: 0;
    }

    @include rwd('phone') {
      flex: 0 0 100%;
      margin-bottom: 2rem;
    }
  }

  &__logoImage {
    width: 90px;
    height: auto;
    transition: opacity $tr;
    cursor: pointer;

    @include rwd('large-tablet') {
      max-width: 60px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__socials {
    @include flexSetup(row, center, center, nowrap);
    transition: opacity $tr, visibility $tr;
    z-index: 40;
  }

  &__social {
    margin: 0 1rem;

    @include rwd('phone') {
      margin: 0;
    }
  }

  &__socialLink {
    display: block;
  }
}