.footer {
  $root: &;

  &__inner {
    background-color: $c-black;
    padding: 2rem 0;
    overflow: hidden;
  }

  &__content {
    @include flexSetup(column, space-between, center, nowrap);
  }

  &__text {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: $c-white;
  }

  &__socials {
    @include flexSetup(row, center, center, nowrap);
    transition: opacity $tr, visibility $tr;
    z-index: 40;
  }

  &__socialLink {
    display: block;
  }
}