.footer {
  $root: &;

  &__inner {
    overflow: hidden;
  }

  &__topWrapper {
    padding-top: 44px;
    padding-bottom: 70px;

    @include rwd('tablet') {
      padding-top: 20px;
    }
  }

  &__heading {
    text-align: center;

    &--small {
      display: block;
      color: $c-black;
    }
  }

  &__icons {
    margin-top: 30px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include rwd('large-tablet') {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__iconText {
    font: 500 23px/24px JostMedium;
    color: $c-black;
    text-align: center;
    margin-top: 25px;
    max-width: 85%;
    word-break: break-word;

    @include rwd('large-tablet', true) {
      min-height: 50px;
    }
  }

  &__bottomWrapper {
    padding: 17px 0;

    @include rwd('tablet') {
      padding: 30px 0;
    }
  }

  &__bottomText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 270px;
    font: 400 18px/24px Lato;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include rwd('large-phone', true) {
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
    }

    @include rwd('tablet', true) {
      justify-content: flex-end;
    }


    @include rwd('tablet') {
      margin-top: 14px;
    }
  }

  &__social {
    width: 162px;
    margin-right: 14px;

    @include rwd('large-phone') {
      margin-bottom: 10px;
      width: 100%;
      max-width: 100%;
    }

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__socialLink {
    background-color: $c-white;
    padding: 13px 24px 13px 48px;
  }
}