.header {
  $root: &;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5000;
  transition: background-color $tr;

  &--fixed {
    @include rwd('large-tablet', true) {
      & #{$root}__wrapper {
        flex-wrap: nowrap;
      }

      & #{$root}__logoImg {
        max-width: 80px;
      }

      & #{$root}__top {
        width: auto;
      }

      & #{$root}__socials {
        display: none;
      }
    }

  }

  @include rwd('large-tablet') {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: $c-white;
    z-index: 5000;
  }

  &__wrapper {
    padding: 2rem 4rem;
    max-width: 80%;
    margin: 0 auto;
    transition: padding $tr, flex-direction $tr;

    @include flexSetup(row, space-between, center, wrap);

    @include rwd('large-tablet') {
      padding: 1rem 2rem;
      max-width: 100%;
    }

    // @include rwd('large-phone') {
    //   padding: 1rem 2rem;
    // }
  }

  &__top {
    @include flexSetup(row, space-between, center, nowrap);
    width: 100%;
  }

  &__logoImg {
    max-width: 100px;
    height: auto;
    transition: max-width $tr;

    @include rwd('laptop') {
      max-width: 100px;
    }

    @include rwd('large-tablet') {
      max-width: 60px;
    }
  }

  &__socials {
    @include flexSetup(row, space-between, center, nowrap);
    transition: opacity $tr, visibility $tr;
  }

  &__socialLink {
    display: block;
  }

  &__menu {
    width: 100%;
  }
}