.menu {
  $root: &;
  z-index: 5000;


  @include rwd("laptop") {
    min-width: 90%;
  }

  @include rwd("large-tablet") {
    position: fixed;
    top: 8.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0;
    visibility: hidden;
    transition: opacity $tr, visibility $tr, transform $tr;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &--scroll {
    @include rwd("large-tablet") {
      height: auto;
      overflow: scroll;
    }
  }

  &__wrapper {
    width: 100%;

    @include flexSetup(row, center, center, nowrap);

    @include rwd("large-tablet") {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__items {
    padding-top: 2rem;
    @include flexSetup(row, space-evenly, center, nowrap);
    transition: transform $tr;

    @include rwd("large-tablet") {
      flex-direction: column;
      justify-content: start;
      width: 100%;
      // padding-top: 2rem;
    }

    & li {
      position: relative;
      text-align: center;
      @include rwd("large-tablet") {
        width: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.5);
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: rgba(#daf1fa, 0.2);
        opacity: 0;
        transition: opacity $tr, transform $tr;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.5);
        display: inline-block;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid rgba(#daf1fa, 0.2);
        opacity: 0;
        transition: opacity $tr, transform $tr;
      }

      & a {
        display: inline-block;
        color: $c-white;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        position: relative;
        padding: 16px 20px;
        transition: color $tr;
        z-index: 999;
      }

      & .sub-menu {
        display: block;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -40px;
        min-width: calc(100% + 80px);
        background: #00B4DB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition: opacity .3s,visibility .3s, max-height $tr;
        text-align: center;
        z-index: 33;

        @include rwd("large-tablet") {
          // position: static;
          left: auto;
          right: auto;
          top: auto;
          min-width: 100%;
          visibility: visible;
          opacity: 1;
          background: #00B4DB;
          // margin-top: 2rem;
          padding: 0;
          // height: 0;
        }

        // &--active {
        //   visibility: visible;
        // }
      }

      &:hover {
        &::after,
        &::before {
          @include rwd("large-tablet", true) {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }

        & > .sub-menu {

          @include rwd("large-tablet", true) {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    & li.menu-item-has-children {
      @include rwd("large-tablet") {
        overflow: hidden;
      }

      & > a {
        transition: tranform $tr;
        &:before {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0%, -50%) rotate(90deg);
          @include icomoon('arrow-long');
          font-size: 2rem;
          color: $c-white;
          transition: tranform $tr;

          @include rwd("large-tablet") {
            right: -2rem;
          }
        }
      }
    }

    & li.menu-itemParent--active {
      & > a {
        &:before {
          transform: translate(0%, -50%) rotate(-90deg);
        }
      }
    }

    & .sub-menu {
      z-index: 20;
    }
  }


  &--active {

    @include rwd("large-tablet") {
      opacity: 1;
      visibility: visible;

      & .header__logo {
        width: 100%;
      }
    }
  }

  &__mobileButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    padding: 10px;
    background-color: $c-white;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    z-index: 5000;
    transition: transform 1s;

    @include rwd("large-tablet", true) {
      display: none;
    }

    &--active {

      & #{$root}__mobileBar:first-of-type {
        transform: translateY(7px) rotate(-45deg);
      }

      & #{$root}__mobileBar:nth-of-type(2) {
        opacity: 0;
      }

      & #{$root}__mobileBar:nth-of-type(3) {
        transform: translateY(-3px) rotate(45deg);
      }
    }
  }

  &__mobileBar {
    display: block;
    margin-top: 3px;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #00B4DB;
    transition: all $tr;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
