.menu {
  $root: &;
  z-index: 5000;


  // @include rwd("laptop") {
  //   min-width: 90%;
  // }

  @include rwd("large-tablet") {
    position: fixed;
    top: 8rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: $c-blue-1;
    opacity: 0;
    visibility: hidden;
    transition: opacity $tr, visibility $tr, transform $tr;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &--scroll {
    @include rwd("large-tablet") {
      height: auto;
      overflow: scroll;
    }
  }

  &__wrapper {
    width: 100%;

    @include flexSetup(row, center, center, nowrap);

    @include rwd("large-tablet") {
      flex-direction: column;
      justify-content: flex-start;
      padding: 3rem 0;
    }
  }

  &__items {
    // padding-top: 2rem;
    @include flexSetup(row, space-evenly, center, nowrap);
    transition: transform $tr;

    @include rwd("large-tablet") {
      flex-direction: column;
      justify-content: start;
      width: 100%;
      // padding-top: 2rem;
    }

    & li {
      position: relative;
      cursor: pointer;
      text-align: center;
      // margin: 0 20px;
      // @include rwd("large-tablet") {
      //   width: 100%;
      // }

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 24rem;
        width: 100%;
        background-color: $c-blue-1;
        opacity: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 3px 6px rgba($c-black, .16);
        transition: opacity $tr, transform $tr;

        @include rwd("large-tablet") {
          display: none;
        }
      }

      & a {
        display: inline-block;
        color: $c-black;
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        padding: 16px 35px;
        transition: color $tr;
        z-index: 999;

        @include rwd("ultra") {
          padding: 16px 20px;
        }

        @include rwd("large-laptop") {
          font-size: 1.6rem;
          line-height: 2rem;
        }

        @include rwd("laptop") {
          padding: 16px;
        }

        @include rwd("large-tablet") {
          color: $c-white;
          padding: 4px;
          margin-bottom: 20px;
        }

      }

      & .sub-menu {
        display: block;
        padding: 22.5rem 1rem 1rem 1rem;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -22.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        background-color: $c-blue-1;
        transition: opacity .3s,visibility .3s, max-height $tr;
        z-index: 33;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 3px 6px rgba($c-black, .16);

        @include rwd("large-tablet") {
          // position: static;
          left: auto;
          right: auto;
          top: auto;
          min-width: 100%;
          visibility: visible;
          opacity: 1;
          // margin-top: 2rem;
          padding: 0;
          // height: 0;
          transform: none;
          box-shadow: none;
        }

        & li {
          text-align: left;
          margin: 0;

          @include rwd("large-tablet") {
            text-align: center;
          }

          &:hover {

            &::before {
              opacity: 0;
            }

            & a {
              opacity: 0.8;
            }
          }

          & a {
            font-weight: 400;
            padding: 6px;
            text-transform: none;
            transition: opacity $tr;

            @include rwd("laptop") {
              font-size: 1.5rem;
              line-height: 2.2rem;
            }

            @include rwd("large-tablet") {
              margin: 0;
            }
          }

          &:first-of-type {
            margin: 8.5rem 0 0;

            @include rwd("large-tablet") {
              margin: 0;
            }
          }
        }

        // &--active {
        //   visibility: visible;
        // }
      }

      &:hover {
        & a {
          color: $c-white;
        }
      }

      &:not(.menu-item-has-children) {
        &:hover {
          &::before {
            opacity: 1;
          }
        }

      }

      &.menu-item-has-children {
        &:hover {
          & > .sub-menu {
            @include rwd("large-tablet", true) {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    & li.menu-item-has-children {
      @include rwd("large-tablet") {
        overflow: hidden;
      }
    }

    & li.menu-itemParent--active {
      margin-bottom: 1.5rem;
      & > a {
        border-bottom: 2px solid $c-white;
      }
    }

    & .sub-menu {
      z-index: 20;
    }
  }


  &--active {

    @include rwd("large-tablet") {
      opacity: 1;
      visibility: visible;

      & .header__logo {
        width: 100%;
      }
    }
  }

  &__mobileButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    padding: 10px;
    background-color: $c-blue-1;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    z-index: 5000;
    transition: transform 1s;

    @include rwd("large-tablet", true) {
      display: none;
    }

    &--active {

      & #{$root}__mobileBar:first-of-type {
        transform: translateY(7px) rotate(-45deg);
      }

      & #{$root}__mobileBar:nth-of-type(2) {
        opacity: 0;
      }

      & #{$root}__mobileBar:nth-of-type(3) {
        transform: translateY(-5px) rotate(45deg);
      }
    }
  }

  &__mobileBar {
    display: block;
    margin-top: 4px;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background-color: $c-white;
    transition: tranform $tr, opacity $tr;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
